{{- $brand := site.Params.brand | default dict -}}
{{- $home := $brand.home | default "" -}}
{{- $wordmark := $brand.wordmark | default "projectious.work" -}}
{{- $markLight := $brand.markLight | default "logo/icon-light.svg" -}}
{{- $markDark := $brand.markDark | default "logo/icon-dark.svg" -}}
<a class="header__brand" href="{{ partial "url.html" $home }}">
  <img class="header__mark header__mark--light" src="{{ $markLight | relURL }}" alt="" width="26" height="26">
  <img class="header__mark header__mark--dark" src="{{ $markDark | relURL }}" alt="" width="26" height="26">
  {{ if eq $wordmark "projectious.work" }}<span>projectious<span class="sep">&middot;</span><span class="accent">work</span></span>{{ else }}<span>{{ $wordmark }}</span>{{ end }}
</a>
