<div class="search-modal" data-search-modal>
  <div class="search-modal__panel">
    <div class="search-modal__input-row">
      {{ partial "icon.html" (dict "name" "search" "size" 18) }}
      <input type="text" data-search-input class="search-modal__input" placeholder="{{ i18n "searchPlaceholder" }}" autocomplete="off">
      <button class="search-modal__close" data-search-close type="button" aria-label="{{ i18n "closeSearch" }}">{{ partial "icon.html" (dict "name" "x" "size" 18) }}</button>
    </div>
    <div class="search-modal__results" data-search-results data-empty-text="{{ i18n "noResults" }}"></div>
  </div>
</div>
