{{- $link := .Get "link" -}}
{{- $tag := cond (ne $link nil) "a" "div" -}}
<{{ $tag }} class="card"{{ with $link }} href="{{ . | relLangURL }}"{{ end }}>
  {{ with .Get "image" }}<div class="card__media"><img src="{{ . | relURL }}" alt="{{ $.Get "alt" | default "" }}" loading="lazy"></div>{{ end }}
  {{ with .Get "icon" }}<div class="card__icon">{{ partial "icon.html" (dict "name" . "class" "ico--lg") }}</div>{{ end }}
  {{ with .Get "title" }}<div class="card__title">{{ . }}</div>{{ end }}
  {{ with .Get "subtitle" }}<p class="card__text">{{ . }}</p>{{ end }}
  {{ with .Inner }}<div class="card__text">{{ $.Inner | $.Page.RenderString (dict "display" "block") }}</div>{{ end }}
</{{ $tag }}>